.bg-dark{
    background: red !important;
}
.nav-link{
    color: white !important ;
}

.COMOYO{

    
    width: 500px;

}
.mb-6{
    margin-bottom: 8rem;

}
.card-text{
    color: white !important ;
}
.card-title{
    color: white !important ;
}